body{
    font-family: 'Merriweather', serif;
   margin: 0%;
}
h1{
   font-size: 70px;
}
h2{
    font-size: 50px;
}
/* Header section */

.header_image{
    background-image:url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    height: 600px; 
    border-radius: 16px;
    background-position: center;
    flex-shrink: 0;
}
 
#New_Year{
    padding-top: 5%;
    padding-bottom:0%
}
.header_text{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top:4%;

}

/* first part */

.first_part{
    text-align: center;
}
.Text_color{
    color: red;
}
.new_year_image{
   margin-top: 5%;
}
.new_year_image img{
    width: 750px;
    height: 450px;
}
/* 2nd part */
.midnight_party{
    background-image:url(images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    display: flex;
    padding: 5%;

}
.party{
   width: 50%;
   margin-left: 12%;
   margin-top: 5%;
   color: aliceblue;
}
/* Third part */
.third_part{
    display: flex;
    /* text-align: center; */
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
}
.circle img{
    border: solid red;
    border-width: 20px;
    padding: 30px;
    border-radius: 90%;
    height: 364px;
    width: 364px;
}
.circle{
    margin-left: 12%;
}
.best_offer{
    padding-left: 10%;
}
/* 4th part */
.gifts{
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
}
.best_gift{
    text-align: center;
}
.best_gift img{
    padding: 10px;
    height: 400px;
    width: 408px;
}

/* fifth part */
.fifth_part{
    background-color: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#email{
    padding: 10px 100px;
    border-radius: 20px 0px 0px 20px;
    border: 0cap;
    margin-right: 0%;
}
#sub_button{
    padding: 10px 30px;
    border-radius: 0px 20px 20px 0px ;
    background-color: red;
    color: azure;
    border: 0cap;
    margin-left: 0%;
}

/* footer */

.last_part{
    background-color: #070211;
    height: 450px;
    text-align: center;
}
.footer{
    color: aliceblue; 
    display: flex;
}
.footer_lastpart{
    width: 50%;
    text-align: justify;
    padding-left: 10%;
    margin-top: 5%;
}
.collam_2{
    display: flex;
}
.collam_3{
    display: flex;
}
.footer_icon{
    padding-left: 45%;
}
.footer_icon img{
    padding-right: 10px;
    height: 25px;
    width: 25px;
    padding-top: 15px;
}
.follow{
    padding-top: 7%;
}
.follow img{
    padding: 10px;
    height: 70px;
    width: 70px;
}
.Unsubscribe{
    display: flex;
    color: aliceblue;
    justify-content: space-around;
}
.rights{
    padding-right: 600px;
}
.last_rights{
    padding-right: 100px;
}
/* hover */
.hover:hover{
   transform: scale(1.1);
}